.welcome-box{
    height: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    .title-box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
        .line{
            height: 2px;
            width: 300px;
            background-color: rgb(255, 197, 21)
        }
    }
    .prize-box{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 20px auto;
        gap: 24px;
        .box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            p{
                width: 240px;
                line-height: 28px;
                text-align: center;
                color: rgb(96, 96, 96);
            }
            h2{
                font-weight: 400;
            }
        }
    }
}